@import "@/common/scss/mixin.scss";
@import "@/common/scss/variable.scss";

// 浮动
.cf {
  *zoom: 1;
}

.cf:after {
  /*伪元素是行内元素 正常浏览器清除浮动方法*/
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

// flex布局
.f_b_s {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.f_b_c {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// 多行文本溢出隐藏

// 单行文本溢出隐藏

// icon 图标
.icon {
  display: inline-block;
  @include bgImg(auto, auto, '/images/icon/sprite_9dd5c92.png');
}

// icon_2 图标2
.icon-2 {
  display: inline-block;
  @include bgImg(auto, auto, '/images/icon/third-sprite_d07ffce.png');
}

// icon_login 登录注册包含的图标
.icon-10 {
  display: inline-block;
  @include bgImg(auto, auto, '/images/icon/popup-sprite_e5ea04f.png');
}

// 内容盒子大小

.container-1 {
  width: 1000px;
  margin: 0 auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

// 圆角系列
.br-4 {
  border-radius: 4px;
}

.br-3 {
  border-radius: 3px;
}

// 隐藏
.hide {
  display: none;
}

/** --------------部分公共样式-------------- */
/** ------登录注册相关  起始------ */

.agree {
  font-size: 12px;

  .a-btn {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    background-size: contain;
  }

  .agree-btn {
    background-image: url("/images/icon/gx.png");
  }

  .no-agree-btn {
    background-image: url("/images/icon/no_gx.png");
  }
}

.phone {
  margin-bottom: 30px;
  position: relative;
  border-bottom: 1px solid $border_color_A;

  .p-code {
    cursor: pointer;
    display: inline-block;
    width: 72px;

    .icn-down {
      display: inline-block;
      margin-top: 14px;
      @include bgImg(10px, 10px, "/images/icon/down.png");
      background-size: contain;
      transition: all 0.3s;
    }

    .rotate {
      transform: rotate(180deg);
    }
  }

  .code-list {
    position: absolute;
    left: 0;
    top: 38px;
    width: 183px;
    height: 288px;
    line-height: 36px;
    background-color: #fff;
    border: 1px solid #eee;
    overflow-y: auto;

    .a-sort {
      padding: 0 12px;
    }

    .c-item {
      padding: 0 12px;

      &:hover {
        background-color: #f4f4f4;
        color: $basic_color;
      }
    }
  }

  .p-inp {
    padding-left: 10px;
    width: 188px;
    color: $font_color_B;
  }
}

.v-code {
  border-bottom: 1px solid $border_color_A;
  margin-bottom: 40px;

  .c-inp {
    width: 180px;
    margin-right: 18px;
  }

  .get-code-btn {
    cursor: pointer;
  }
}

.r-l-btn {
  display: block;
  width: 100%;
  height: 48px;
  line-height: 48px;
  margin: 30px 0 40px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background-color: $basic_color;
}

/** ------登录注册相关  结束------ */
/** ------字体主题色------ */
.green {
  color: $basic_color;
}

// input 提示文字的默认颜色
input::-webkit-input-placeholder {
  color: $font_color_C;
}

input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: $font_color_C;
}

input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: $font_color_C;
}

input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $font_color_C;
}