// 背景图
@mixin bgImg($w, $h, $url) {
  width: $w;
  height: $h;
  background: url($url) no-repeat;
}

// 阴影 h：水平阴影  v：垂直阴影  b：阴影模糊距离  s：阴影大小  color：阴影颜色
@mixin boxS($h, $v, $b, $s, $color) {
  box-shadow: $h $v $b $s $color;
}

// 文本溢出...  clamp：几行
@mixin eps($clamp:1) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-line-clamp: $clamp;
}

// 到三角
@mixin triangle($color:#00b38a) {
  position: relative;
  width: 16px;
  height: 8px;

  &::after {
    position: absolute;
    right: 0;
    top: 0;
    content: "";
    border: 8px solid $color;
    border-left-color: transparent;
    border-top: none;
    border-right-color: transparent;


  }
}