// 颜色变量
$basic-color: #00b38a; //主体颜色
$pay-color: #fa6041; //薪水字体颜色
$font-color-A: #333; //基础字体颜色A
$font-color-B: #666; //基础字体颜色B
$font-color-c: #999; //基础字体颜色C 用于部分链接
$nav-font-color: #AFB5C0; //导航栏字体颜色
$nav-bg-color: #32373E; //导航栏字体背景色
$border-color-A: #ededed; //border颜色A
$border-color-B: #e8e8e8; //border颜色B
$border-color-C: #eeeeee; //border颜色C
// 字体大小变量
$font-size-A: 14px;
$font-size-B: 16px;
$font-size-C: 12px;
$font-size-D: 18px;