// 颜色变量
$basic_color: #00b38a; //主体颜色
$bg_color: #00906f; //背景色A
$nav_head_bg_color:#32373e; //顶部导航栏背景
$pay_color: #fa6041; //薪水字体颜色
$font_color_A: #333; //基础字体颜色A
$font_color_B: #666; //基础字体颜色B
$font_color_C: #999; //基础字体颜色C 用于部分链接
$font_color_D: #007d61; //基础字体颜色B
$nav_font_color: #AFB5C0; //导航栏字体颜色
$nav_bg_color: #32373E; //导航栏字体背景色
$border_color_A: #ededed; //border颜色A
$border_color_B: #e8e8e8; //border颜色B
$border_color_C: #eeeeee; //border颜色C
// 字体大小变量
$font_size_A: 14px;
$font_size_B: 16px;
$font_size_C: 12px;
$font_size_D: 18px;